<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
          <ul class="main-header_item-list">
            <li class="main-header_item"><a href="/">Shop</a></li>
            <li class="main-header_item"><a href="/admin/add-products">Add Products</a></li>
            <li class="main-header_item"><a href="/contact-us">Contact Us</a></li>
            <li class="main-header_item"><a class="active" href="/admin/products">Admin Products</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <h1>Here You will find admin products</h1>
      </main>
</body>
</html>