body {
    font-family: 'Montserrat', sans-serif;
    background: lightgrey;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55rem;
    display: flex
}

.heading{
    font-weight: bolder;
    margin: 3rem;
}

.signin{
    color: white;
}

#signUp{
    margin-bottom: 10px;
}

#h3{
    margin-bottom: 10px;
}

.containers {
    width: fit-content;
    background: #fff;
    /* border-radius: 10px; */
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2); */
    /* position: relative; */
    /* overflow: hidden; */
    height: fit-content;
    /* max-width: 800px; */
    max-height: 50%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.form-wrapper {
    width : 50%;
    margin-right: 20px;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    .containers {
        flex-direction: inherit;
    }
    .form-wrapper{
        width: 100%;
        margin-right: 20px;
    }
}
